@media (min-width: 1000px) {
    .container {
        padding: 0 2.1rem;
        max-width: 1170px;
        margin: 0 auto;
    }

    .start__chat {
        max-width: 770px;
        margin: 0 auto;
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .header__logo {
        margin: 4rem 0 3.2rem;
    }

    .chat__message-item {
        max-width: fit-content;
        padding: 2rem 3.2rem;
    }

    .chat__message-item:first-child {
        max-width: 31.1rem;
        padding: 1.1rem 1.6rem;
    }

    .chat__message-item:nth-child(2) {
        max-width: fit-content;
    }

    .chat__message-item:nth-child(3) {
        max-width: 70rem;
        font-size: 4.4rem;
        line-height: 5.2rem;
        font-weight: 800;
        padding: 3.2rem;
    }

    .pickup-jobs {
        margin: 3.7rem auto 2.4rem;
        max-width: 42.9rem;
        border-radius: 100px;
        padding: 2.3rem 9rem;
    }

    .sub_info {
        text-align: center;
    }

    .desktop-hide {
        display: none;
    }

    .right-block {
        background: #E1FFC4;
        border-radius: 1rem;
        display: block;
        padding: 2rem 3.2rem 2.8rem 3.6rem;
        max-width: 47.5rem;
        margin: 2.4rem 0 1.7rem auto;
        position: relative;
    }

    .right-block:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 5rem;
        right: 0;
        border: 1.5rem solid;
        z-index: -1;
        transform: rotate(
                90deg
        );
        border-color: #E1FFC4 transparent transparent #E1FFC4;
    }

    .offers__title {
        font-size: 3.6rem;
        line-height: 4.8rem;
        font-weight: 800;
        max-width: 97rem;
        margin: 0 auto 3.6rem;
        text-align: center;
    }

    .offers__subtitle {
        max-width: 46rem;
        font-size: 2rem;
        line-height: 3.6rem;
        text-align: center;
        margin: 0 auto 5.4rem;
    }

    /*//todo*/
    /*.filters{*/
    /*    display: flex;*/
    /*    flex-direction: row-reverse;*/
    /*    position: relative;*/
    /*}*/
    /*.category__list{*/
    /*    overflow-x: initial;*/
    /*    display: block;*/
    /*}*/
    .service__title {
        font-size: 3.6rem;
        line-height: 4.8rem;
        font-weight: 800;
        margin-bottom: 6rem;
    }

    .service__info-item {
        width: 67rem;
        margin-bottom: 2rem;
        padding: 3.6rem;
    }

    .service__info-item p {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 500;
    }

    .service__info-item:nth-child(2n) {
        margin-left: auto;
    }

    .about__title {
        font-size: 3.6rem !important;
        line-height: 4.8rem !important;
    }

    .about__subtitle {
        font-size: 2.4rem;
        line-height: 4rem;
        max-width: 77rem;
        letter-spacing: -0.2px;
    }

    .info__subtitle {
        display: none;
    }

    .info__title {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    .link-button {
        max-width: 37rem;
        margin: 0 auto 20rem;
    }

    .link-button:hover{
        background-color:  #3988FF;
        transition: all .3s ease-out;

    }

    .answer__title {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    .answer__title br,
    .question__header-title br {
        display: none;
    }

    .question__header {
        justify-content: initial;
        margin-bottom: 2.8rem;
    }

    .tabs-arrow {
        margin-bottom: .8rem;
        margin-left: 2rem;
    }

    .question__header-title {
        font-size: 2.4rem;
        line-height: 4rem;
        letter-spacing: -0.2px;
    }

    .question__info-item {
        font-size: 1.7rem;
        line-height: 2.5rem;
        color: rgba(0, 0, 0, 0.7);
    }

    .answer__info:last-child {
        margin-bottom: 10rem;
    }

    .employer__title {
        text-align: center;
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    .employer__subtitle {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -0.2px;
        text-align: center;
        margin-bottom: 4.8rem;
    }
    .employer-container{
        max-width: 57rem;
        margin: 0 auto;
    }
    .employer__form{
        padding-bottom: 10rem;
    }
    .footer__info{
        display: flex;
    }
    .social-and-privacy{
        margin-left: 13.5em;
    }
    .info__social{
        margin-bottom: 11rem;
    }
    .footer{
        padding: 10rem 0;
        background-image: url("../images/footer-bg-pc.png");
        background-position: 95% 35%;
    }
    .footer__logo{
        margin-bottom: 6rem;
    }
    .footer__info-item{
        margin-bottom: 2rem;
    }
    .privacy-policy{
        margin-bottom: 2rem;
        text-decoration: initial;
    }
    .privacy-policy a{
        color: #30B4FF

    }
    .privacy-policy span{
        color: white;
    }
    .info__img{
        margin: 6rem 0 12rem;
    }
    .info__img:last-child{
        margin: 6rem 0 10rem;
    }
    .tooltip:hover{
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color:#0066FF;
    }
    .liner{
        display: none;
    }
    .category__list{
        display: block;
        margin-left: auto;
        overflow-x:initial;
    }
    .filters{
        display: flex;
        flex-direction: row-reverse;
    }
    .offers__list{
        width: 87rem;
    }
    .offers__item{
        position: initial !important;
        padding: 3.6rem;
        background-color: #A3A3A3;
    }
    .offers__item-description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .overflow-block-info{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .overflow-block{
        max-width: 41rem;
    }
    .offers__item-name{
        margin-right: .4rem;
    }
    .offers__item-price{
        align-self: flex-start;
    }
    .offers__item-city{
        background-color: #F2F2F2;
    }
    .offers__item-company, .offers__item-city, .offers__item-price, .offers__item-name {
        max-width: none;
        white-space: normal;
        text-overflow: clip;
        overflow: visible;
        margin-bottom: 0.4rem;
    }

}

@media (max-width: 780px) {
    .container {
        padding: 0 2.1rem;
    }

    .header__logo {
        margin: 3.9rem 0 6.5rem;
    }

    .mobile-hide {
        display: none;
    }
}
