@media (min-width: 651px) {
    a {
        cursor: pointer;
        border: none;
    }

    img {
        border: none;
    }

    .container {
        max-width: 1170px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .header {
        position: fixed;
        background-color: rgba(255, 254, 255, .5);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    .transition {
        transition: all .3s ease-out;
    }

    .transition:hover {
        background-color: #3988FF;
        transition: all .3s ease-out;
    }


    .active:hover,
    .active a:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: #0066FF;
    }

    .active-footer:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.7rem;
        line-height: 2.2rem;
        text-align: center;
        letter-spacing: -0.2px;
    }

    .header__buttons {
        display: flex;
        align-items: center;

    }

    .header__buttons a {
        color: #0066FF;
    }

    .header__buttons-telegram {
        background: #0066FF;
        border-radius: 8px;
        padding: 1.7rem 3.75rem 1.7rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 2.4rem 0 2.4rem 2.8rem;
        cursor: pointer;
    }

    .header__buttons-telegram a {
        color: white !important;
        margin-left: 1.3rem;

    }

    .start__chat {
        max-width: 770px;
        margin: 12rem auto 0;
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .chat__message-item {
        max-width: fit-content;
        padding: 2rem 3.2rem;
    }

    .chat__message-item:first-child {
        max-width: 31.1rem;
        padding: 1.1rem 1.6rem;
    }

    .chat__message-item:nth-child(2) {
        max-width: fit-content;
    }

    .chat__message-item:nth-child(3) {
        max-width: 70rem;
        font-size: 4.4rem;
        line-height: 5.2rem;
        font-weight: 800;
        padding: 3.2rem;
    }

    .pickup-jobs {
        margin: 3.7rem auto 2.4rem;
        max-width: 42.9rem;
        border-radius: 100px;
        padding: 2.3rem 8rem;
        outline: none;
    }

    .pickup-jobs span {
        color: white;
        margin-left: 1.3rem;
    }

    .sub_info {
        text-align: center;
    }

    .desktop-hide {
        display: none !important;
    }

    .right-block {
        background: #E1FFC4;
        border-radius: 1rem;
        display: block;
        padding: 2rem 3.2rem 2.8rem 3.6rem;
        max-width: 47.5rem;
        margin: 2.4rem 0 1.7rem auto;
        position: relative;
    }

    .right-block:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 5rem;
        right: 0;
        border: 1.5rem solid;
        z-index: -1;
        transform: rotate(
                90deg
        );
        border-color: #E1FFC4 transparent transparent #E1FFC4;
    }

    .offers__title {
        font-size: 3.6rem;
        line-height: 4.8rem;
        font-weight: 800;
        max-width: 97rem;
        margin: 0 auto 3.6rem;
        text-align: center;
    }

    .offers__subtitle {
        max-width: 46rem;
        font-size: 2rem;
        line-height: 3.6rem;
        text-align: center;
        margin: 0 auto 0;
    }

    .service__title {
        font-size: 3.6rem;
        line-height: 4.8rem;
        font-weight: 800;
        margin-bottom: 6rem;
    }

    .service__info-item {
        width: 67rem;
        margin-bottom: 2rem;
        padding: 3.6rem;
    }

    .service__info-item p {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 500;
    }

    .service__info-item:nth-child(2n) {
        margin-left: auto;
    }

    .about__title {
        font-size: 3.6rem !important;
        line-height: 4.8rem !important;
    }

    .about__subtitle {
        font-size: 2.4rem;
        line-height: 4rem;
        max-width: 77rem;
        letter-spacing: -0.2px;
    }

    .info__subtitle {
        display: none;
    }

    .info__title {
        font-size: 2.8rem;
        line-height: 3.4rem;
        margin-bottom: 11.5rem;
    }

    .link-button {
        max-width: 37rem;
        margin: 0 auto 20rem;
        transition: all .3s ease-out;
    }

    .profile-btn {
        cursor: pointer;
    }

    .link-button:hover {
        background-color: #3988FF;
        transition: all .3s ease-out;

    }

    .answer__title {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    .answer__title br,
    .question__header-title br {
        display: none;
    }

    .question__header {
        justify-content: initial;
        margin-bottom: 2.8rem;
    }

    .tabs-arrow {
        margin-bottom: .8rem;
        margin-left: 2rem;
    }

    .question__header-title {
        font-size: 2.4rem;
        line-height: 4rem;
        letter-spacing: -0.2px;
    }

    .question__info-item {
        font-size: 1.7rem;
        line-height: 2.5rem;
        color: rgba(0, 0, 0, 0.7);
    }

    .answer__info:last-child {
        margin-bottom: 10rem;
    }

    .employer__title {
        text-align: center;
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    .employer__subtitle {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -0.2px;
        text-align: center;
        margin-bottom: 4.8rem;
    }

    .employer-container {
        max-width: 57rem;
        margin: 0 auto;
    }

    .employer__form {
        padding-bottom: 10rem;
    }

    .footer__info {
        display: flex;
    }

    .social-and-privacy {
        margin-left: 13.5em;
    }

    .info__social {
        margin-bottom: 11rem;
    }

    .footer__info-social {
        display: flex;
    }

    .item-habr,
    .item-linkedIn,
    .item-facebook,
    .item-twitter,
    .item-youtube,
    .item-telegram {
        width: 44px;
        height: 44px;
        background-color: white;
    }

    .item-habr:hover,
    .item-linkedIn:hover,
    .item-facebook:hover,
    .item-twitter:hover,
    .item-youtube:hover,
    .item-telegram:hover {
        background-color: #30B4FF;
    }

    .item-habr {
        -webkit-mask: url('../images/footer-social/habr.svg') no-repeat center;
    }

    .item-linkedIn {
        -webkit-mask: url('../images/footer-social/linkedin.svg') no-repeat center;

    }

    .item-facebook {
        -webkit-mask: url('../images/footer-social/facebook.svg') no-repeat center;

    }

    .item-twitter {
        -webkit-mask: url('../images/footer-social/twitter.svg') no-repeat center;

    }

    .item-youtube {
        -webkit-mask: url('../images/footer-social/youtube.svg ') no-repeat center;

    }

    .item-telegram {
        -webkit-mask: url('../images/footer-social/telegram.svg') no-repeat center;

    }

    .footer {
        padding: 10rem 0;
        background-image: url("../images/footer-bg-pc.png");
        background-position: 95% 35%;
    }

    .footer__logo {
        margin-bottom: 6rem;
    }

    .footer__info-item {
        margin-bottom: 2rem;
    }

    .privacy-policy {
        margin-bottom: 2rem;
        text-decoration: initial;
    }

    .element-item {
        cursor: pointer;
    }


    .privacy-policy a {
        color: #30B4FF

    }

    .privacy-policy span {
        color: white;
    }

    .info__img {
        margin: 6rem 0 12rem;
    }

    .info__img:last-child {
        margin: 6rem 0 10rem;
    }

    .tooltip:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: #0066FF;
    }

    .liner {
        display: none;
    }

    .category__list {
        display: flex;
        overflow-x: initial;
        margin-left: 3.3rem;
        width: 28.8rem;
        flex-wrap: wrap;
        margin-top: 1.6rem;
        height: 100%;
    }

    .filters {
        display: flex;
        flex-direction: row-reverse;
    }

    .offers__list {
        width: 87rem;
    }

    .offers__item {
        position: initial !important;
        padding: 3.6rem;
    }

    .offers__item-description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .overflow-block-info {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
    }

    .overflow-block {
        max-width: 39rem;
    }

    .offers__item-name {
        margin-right: .4rem;
    }

    .offers__item-price {
        align-self: flex-start;
    }

    .offers__item-city {
        background-color: #F2F2F2;
        width: fit-content;
        padding: .8rem 1.2rem;
        border-radius: 6px;
        text-align: center;
        line-height: 1.8rem;
        margin: 0.8rem 0.8rem 0 0;

    }

    .offers__item-company, .offers__item-city, .offers__item-price, .offers__item-name {
        max-width: none;
        white-space: normal;
        text-overflow: clip;
        overflow: visible;
    }

    .offers__item-company, .offers__item-price, .offers__item-name {
        margin-bottom: 0.4rem;

    }

    .offers__item-img {
        max-height: 4.8rem;
        max-width: 15rem;
        margin-top: 0.5rem;
    }

    .overflow-block-subinfo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .category__list:after {
        display: none;
    }

    .button.is-checked {
        background: #0066FF;
        transition: all .3s ease-out;
        border-radius: 6px;
        color: white;
        border: none;
    }

    .button span {
        color: #666666;
    }

    .button.is-checked span {
        color: #F2F2F2;
        transition: all .3s ease-out;
    }

    .category__list-item > .is-checked {
        border: none;
    }

    .category__list-item {
        border: 1px solid #DFDFE7;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 0.8rem 0.8rem 0 0;

    }

    .category__list-item button {
        color: black;
        text-align: center;
        padding: 1.2rem 2rem;
        max-width: 26rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all .3s ease-out;
    }

    .category__list-item button:hover {
        transition: all .3s ease-out;
        background: #F0EFF2;
    }

    .category__list-item button.is-checked:hover {
        background-color: #3988FF;
        transition: all .3s ease-out;
    }

    .category__list-item:nth-child(2n) {
        padding: inherit;
    }

    .modal-dialog {
        width: 74rem;
        padding: 4rem;
    }

    .profile__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 0;
    }

    .profile__title br {
        display: none;
    }

    .person__info-age {

    }

    .profile-confirm {
        display: none;
    }

    .facts__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .experience__card {
        display: flex;
        align-items: flex-start;
        padding-top: 1.6rem;
    }

    .experience__card-logo img {
        margin: 0;
    }

    .profile__resume {
        display: flex;
        justify-content: center;
    }

    .education__card {
        display: flex;
    }

    .education__card-logo {
        margin: 0 1.6rem 0 0;
    }

    .offers__content {
        display: flex;
        position: relative;
    }

    .offers__content-close {
        position: absolute;
        right: 0;
    }

    .modal-title {
        margin-right: 1.9rem;
    }

    .modal-content-connecting {
        max-width: 44.8rem;
    }

    .modal-body .modal__body-item {
        font-size: 1.5rem;
        line-height: 2.4rem;
        padding-bottom: 0;
    }

    .modal-body .modal__body-item {
        font-weight: 400;

    }

    .modal__body-name,
    .modal__body-price {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .modal__body-item {
        margin-bottom: 1.6rem;
    }

    .overflow-45 {
        max-height: initial;
    }

    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-height: 67.2rem;
    }

    .modal-footer {
        text-align: start;
    }

    .modal-footer-link {
        margin: 0 !important;
    }

    .gradient:after {
        height: 25rem;
    }

    .category__list-item.is-checked {
        border: none;
    }

    .info__block-img {
        max-width: 32rem;
    }

    .info__block-item {
        max-width: 32rem;
        margin-right: 8rem;
        margin-bottom: 12rem;
        position: relative;
        display: block;
    }

    .has-more-item:after {
        content: '';
        top: 8rem;
        right: -5rem;
        width: 16px;
        height: 18px;
        position: absolute;
        transform: rotate(-90deg);
        background-image: url(../images/profile/profile-arrow.svg);
    }

    .info__block-item:nth-child(1):after {
        content: '';
        top: 8rem;
        right: -5rem;
        width: 16px;
        height: 18px;
        position: absolute;
        transform: rotate(-90deg);
        background-image: url(../images/profile/profile-arrow.svg);
    }

    .info__block {
        display: flex;
        flex-direction: initial;
        justify-content: initial;
        align-items: initial;
    }


    .info__block-text {
        font-size: 1.7rem;
        line-height: 2.8rem;
        letter-spacing: -0.2px;
        margin-top: 2.8rem;
    }

    .person__header {
        position: relative;
    }

    .pdf-download {
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.8rem;
        letter-spacing: -0.24px;
        color: #0066FF;
        right: 0;
    }

    .pdf-download:after {
        content: '';
        top: 0;
        right: 10.5rem;
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url(../images/profile/download.svg);
    }

    .employer__form.show-error .error-message {
        bottom: 24rem;
    }

    .more__offers-img {
        max-height: 18.8rem;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        margin-bottom: 5.4rem;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 31.4rem;
        height: 11.4rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
        background-color: white;
        color: black;
        text-align: start;
        padding: 1.2rem;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 4rem;
        top: 5rem;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    .tooltip .tooltiptext span {
        padding-top: 2rem;
        display: block;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: -2rem;
        left: 15rem;
        transform: rotate(
                180deg
        );
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 650px) {
    .container {
        padding: 0 2.1rem;
    }

    .header__logo {
        margin: 3.9rem 0 6.5rem;
    }

    .mobile-hide {
        display: none;
    }
}
