body, html, button {
    margin: 0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

INPUT[type="text"] {
    color: black;
}

INPUT[type="tel"] {
    color: black;
}


p, h2, h3, ul {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.f-w-800 {
    font-weight: 800;
}

.blue {
    color: #0066FF;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 800;
}

.flex {
    display: flex !important;
}

.none {
    display: none !important;
}

.m-b-12 {
    margin-bottom: 1.2rem;
}

.hidden {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.initial {
    overflow: initial;
    height: 100%;
    width: 100%;
    position: relative;
}

.link {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.2px;
    margin-left: 1.3rem;
    padding: 1.7rem 0 1.7rem;
    color: #FFFFFF;
}

.link-button {
    background: #0066FF;
    box-shadow: 0 4px 6px rgba(36, 93, 240, 0.2);
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    padding: 0 21px;
}

.start__chat {
    font-size: 1.7rem;
    line-height: 2.4rem;
    letter-spacing: -0.2px;
}

.chat__message-item {
    background: #F2F2F2;
    border-radius: 12px;
    margin-bottom: .8rem;
    padding: 1.1rem 1.6rem;
    max-width: 31.1rem;
    box-sizing: border-box;
}

.chat__message-item:nth-child(1) {
    background: #FFE953;
    border-radius: 1rem;
    width: 17rem;
    display: block;
    margin-left: auto;
    position: relative;
    text-align: start;
    line-height: 2.2rem;
    margin-bottom: 2.2rem;
}

.chat__message-item:nth-child(1):before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 1.6rem;
    right: -1.5rem;
    border: 1.5rem solid;
    z-index: -1;
    transform: rotate(315deg);
    border-color: #FFE953 transparent transparent #FFE953;
}

.chat__message-item:nth-child(2) {
    max-width: 26.8rem;
}

.chat__message-item:nth-child(3) {
    padding: 2.3rem 1.6rem;
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 800;
    color: #000000;
}

.pickup-jobs {
    background: #0066FF;
    border-radius: 8px;
    padding: 1.7rem 3.75rem 1.7rem;
    display: flex;
    align-items: center;
    max-width: 31.1rem;
    box-sizing: border-box;
    margin: 2.8rem 0 2rem;
}

.pickup-jobs span {
    color: white;
    margin-left: 1.3rem;
}

.sub_info {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #7E7D8E;
    margin-left: 2.6rem;
    letter-spacing: -0.2px;
    font-weight: 400;
}

.offers {
    margin-top: 8rem;
    /*margin-bottom: 8rem;*/
    letter-spacing: -0.2px;
    position: relative;
}

.offers__title {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 800;
}

.offers__subtitle {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
    position: relative;
}

.offers__subtitle a {
    color: #0066FF;
}

.category__list {
    display: flex;
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;
}

.category__list:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    top: -1rem;
    right: 0;
    left: 0;
    height: 4em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 110%);
    pointer-events: none;
}

.category__list::-webkit-scrollbar {
    width: 0 !important;
    opacity: 0 !important;
    -ms-overflow-style: none !important;
    display: none !important;
}

.offers__container {
    position: relative;
}

.liner {
    position: absolute;
    width: 100vw;
    height: 1px;
    background: #E6E6E6;
    left: -2.1rem;
    top: 3.35rem;
    z-index: -1;
}

.category__list-item {
}


.category__list-item:nth-child(2n) {
    padding: 0 2.1rem 0;
}

.button {
    background: transparent;
    border: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 0 0 1.5rem;
    color: #A3A3A3;
}

.button.is-checked {
    color: #000;
    border-bottom: .2rem solid #0066FF;;
}

.offers__item {
    background: #FFFFFF;
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 2rem 1.6rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.2rem;
}

.offers__list {
    margin: 2.4rem 0 3.6rem;
}

.offers__item-description {
    margin-left: 1.6rem;
}

.offers__item-img {
    max-width: 100%;
}

.offers__item-name {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.offers__item-company,
.offers__item-city {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.offers__item-company,
.offers__item-city,
.offers__item-price,
.offers__item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 25rem;
}


.offers__item-company {
    margin-bottom: .4rem;
    letter-spacing: -0.24px;
}

.offers__item-price {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.offers__item-city {
    margin-bottom: 1.2rem;
}

.more__offers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-item {
    display: none;
    position: absolute;
    width: 31rem;
    max-height: 13rem;
    z-index: 30;
    top: 14rem;
    border-radius: 4px;
    animation-duration: 0.5s;
}

.tooltip-item-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tooltip-active {
    display: block;
}

.offers .bg-cart {
    margin-bottom: 0;
    border-radius: initial;
}

.tooltip-item-body {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 400;
    padding: 1.6rem 1.2rem 1.2rem;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.12);
}

.tooltip-item-body p:first-child {
    margin-bottom: 1rem;
}

.tooltip-item-body:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -1.2rem;
    right: 12rem;
    border-style: solid;
    border-width: 0 25px 20px 25px;
    border-color: transparent transparent white transparent;
}

.more__offers-link {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.2px;
    margin-left: 1.3rem;
    padding: 1.7rem 0 1.7rem;
    color: #FFFFFF;
}

.service {
    margin-bottom: 14rem;
}

.service {
    background-color: #FFE953;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.service__title {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 800;
    margin-bottom: 2.8rem;
}

.service__info-item {
    background: #fff;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    position: relative;
}

.service__info-item:nth-last-child(1):before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -1.6rem;
    right: -1.5rem;
    border: 1.5rem solid;
    z-index: 1;
    transform: rotate(315deg);
    border-color: #fff transparent transparent #fff;
}

.service__info-item p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.about h2, h3 {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 800;
}

.info__title {
    margin-bottom: 2.4rem;
}

.info__subtitle {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 2.8rem;
}

.about__title {
    margin-bottom: 2rem;
}

.about__subtitle {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 6.8rem;
}

.about__subtitle br {
    display: initial;
}

.about__link {
    margin-bottom: 10rem;
}

.answer__title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 800;
    margin-bottom: 4rem;
}

.question__header-title {
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin-bottom: .8rem;
    color: black;
    transition: color .2s ease;
}
.question__header-title:hover {
    color: #6C7377
}

.question__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs-content__item--active {
    display: block;
}

.question__info-item {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 2rem;
}

.answer__info {
    margin-bottom: 4rem;
    position: relative;
}

.tabs-triggers__item img {
    transition: .5s ease-out;
    transform: rotate(
            180deg
    );
}

.tabs-triggers__item--active img {
    /*color: #727272;*/
    transform: rotate(0);
    transition: .5s ease-out;
}

.tabs-content__item {
    display: none;
}

.tabs-content__item--active {
    display: block;
}

.employer {
    background: #FFE953;
    color: #0C2231;
}

.employer__title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    padding-top: 6rem;
}

.employer__subtitle {
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: -0.24px;
    font-weight: 500;
    margin-bottom: 3.6rem;
}

.employer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;
    position: relative;
}


.form__input {
    background: #FAFAFA;
    border: 1px solid #E3E4E5;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: -0.24px;
    color: #A3A3A3;
    padding: 1.2rem 1.6rem;
    outline: none;
    margin-bottom: 2rem;
}

.form__input:last-child {
    margin-bottom: 2.9rem;
}

.form__privacy {
    display: flex;
    align-items: center;
    position: relative;
}

.form__privacy-checkbox {
    margin-right: 1rem;
}

.form__privacy-checkbox input {
    border-radius: 6px;
}

.form__privacy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.form__privacy-text a {
    color: #205AED;
}

.form__btn {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-top: 3.3rem;
    background: transparent;
    outline: none;
    border-radius: 6px;
    border: 1px solid #0C2231;
    color: #0C2231;
    padding: 1.7rem 0;
    transition: color 0.2s ease, background 0.2s ease;
}

.form__btn:hover {
    background: #0C2231;
    color: #fff;
}

.custom-checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox > span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: white;
}

.custom-checkbox > input:not(:disabled):active + span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox > input:focus + span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox > input:focus:not(:checked) + span::before {
    border-color: white;
}

.custom-checkbox > input:checked + span::before {
    border-color: #0b76ef;
    background-color: white;
    background-image: url("../images/check-solid.svg");
}

.custom-checkbox > input:disabled + span::before {
    background-color: #e9ecef;
}

.footer {
    color: white;
    padding: 4.8rem 0;
    background-color: #0C2231;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: 85% 15%;
}

.footer__logo {
    margin-bottom: 4rem;
}

.footer__logo img{
    max-width: 17.2rem
}

.footer__info-item {
    font-size: 1.7rem;
    line-height: 3.2rem;
    letter-spacing: -0.24px;
    margin-bottom: 3.5rem;
}


.footer__info-email a {
    color: #29A8FC !important;

}

.privacy-policy {
    font-size: 1.3rem;
    line-height: 2.4rem;
    letter-spacing: -0.24px;
    text-decoration: underline;
    margin-bottom: 3.2rem;
}

.info__social-item {
    width: 4.4rem;
    height: 4.4rem;
}

.info__social a {
    margin-left: 1.4rem;
}

.info__social a:first-child {
    margin-left: 0;
}


.copy {
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: -0.24px;
    margin-top: 3.2rem;
}


.info__block-img {
    max-width: 32rem;
}

.info__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__block-item {
    max-width: 32rem;
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.info__block-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: -0.2px;
    margin-bottom: 2.8rem;
}

.resume:after {
    content: '';
    top: 18rem;
    right: 15rem;
    width: 16px;
    height: 18px;
    position: absolute;
    background-image: url(../images/profile/profile-arrow.svg);
}

.item-habr,
.item-linkedIn,
.item-facebook,
.item-twitter,
.item-youtube,
.item-telegram {
    width: 44px;
    height: 44px;
    background-color: white;
}

.item-habr:hover,
.item-linkedIn:hover,
.item-facebook:hover,
.item-twitter:hover,
.item-youtube:hover,
.item-telegram:hover {
    background-color: #30B4FF;
}

.item-habr {
    -webkit-mask: url('../images/footer-social/habr.svg') no-repeat center;
}

.item-linkedIn {
    -webkit-mask: url('../images/footer-social/linkedin.svg') no-repeat center;

}

.item-facebook {
    -webkit-mask: url('../images/footer-social/facebook.svg') no-repeat center;

}

.item-twitter {
    -webkit-mask: url('../images/footer-social/twitter.svg') no-repeat center;

}

.item-youtube {
    -webkit-mask: url('../images/footer-social/youtube.svg ') no-repeat center;

}

.item-telegram {
    -webkit-mask: url('../images/footer-social/telegram.svg') no-repeat center;

}

.footer__info-social {
    display: flex;
}

/*--------------------------PROFILE STYLES--------------------------*/

.profile__title {
    margin-bottom: 1.9rem;
}

.profile__subtitle {
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: -0.2px;
    margin-bottom: 4.1rem;
}

.profile {
    overflow-y: auto;
    height: 95%;
}

.profile::-webkit-scrollbar {
    width: 0 !important;
}

.overflow-45 {
    max-height: 45rem;
    overflow: hidden;
}

.profile__resume {
    margin-bottom: 6.4rem;
    position: relative;

}

.profile__resume img {
    max-width: 354px;
    max-height: 6.95rem;
}

.profile__resume:after {
    content: '';
    top: 8rem;
    right: 50%;
    width: 16px;
    height: 18px;
    position: absolute;

    background-image: url("../images/profile/profile-arrow.svg");
}

.person__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;

}

.person__header-img img {
    border-radius: 50%;
}

.person__info {
    margin-left: 1.2rem;
}

.person__info-age {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #727272;
}

.person__location {
    margin-bottom: .9rem;
}

.person__format,
.person__location {
    display: flex;
    align-items: center;
}

.person__format-text,
.person__location-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-left: .8rem;
}

.profile-container {
    padding: 2.4rem;

}

.profile-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.bg-cart {
    background: #FFFFFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 8px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    margin-bottom: 1.2rem;
}

.bg-cart:last-child {
    margin-bottom: 0;
}

.experience__list,
.facts__list-item {
    padding-left: 5px;
}

.facts__list-item,
.experience__list-item {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: -0.24px;
    list-style-type: none;
}

.experience__list-item:before,
.facts__list-item:before {
    content: "•";
    margin-right: 5px;
}

.experience__card-description-subtitle {
    margin-bottom: 1.2rem;
}

.facts__subtitle {
    letter-spacing: -0.24px;
}

.facts__subtitle,
.experience__card-description {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
}

.skills__list-item {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    height: 28px;
    padding: 0.5rem 1.2rem 0.5rem;
    background: #F2F2F2;
    border-radius: 4px;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
}

.skills__list-item:last-child {
    margin-right: 0;
}

.facts__language-item {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.2rem;
}

.facts__language-item span {
    border-bottom: 1px solid black;
}

.experience__title {
    margin-bottom: 2.4rem;
}

.experience__card-logo,
.education__card-logo {
    display: flex;
    justify-content: center;
}

.experience__card-logo img {
    max-width: 18rem;
    max-height: 4rem;
    margin: 2rem auto 1.2rem;
}

.experience__card-position {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.experience__card-date,
.education__card-date {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #727272;
    margin-bottom: 1.2rem;
}

.experience__card-description {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
    padding-bottom: 2rem;
    font-family: 'Inter', sans-serif;
}

.experience__card {
    border-bottom: 1px solid #F2F2F2;

}

.experience__card:last-child {
    border-bottom: none;
}

.experience__card-description span {
    color: #0066FF;
}


.experience__more {
    margin-top: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience__more-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: .8rem;
}

.education__card {
    border-bottom: 1px solid #F2F2F2;
}

.education__title {
    margin-bottom: .4rem;
}

.education__card-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.education__card-description {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}

.education__card-date {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
    padding-bottom: 2rem;
    color: #727272;
    margin-top: .8rem;
}

.education__card:last-child {
    border-bottom: none;
}

.facts__skills-title,
.facts__language-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}

.education__title,
.education__title,
.experience__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
}

.education__title {
    margin-bottom: 2.4rem;
}

.education__card-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

education__card-description {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}

.education__card-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto 1.2rem;

}

.education__card-logo img {
    max-width: 18rem;
    max-height: 4.8rem;
}

.profile-confirm {
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    padding: 1.7rem 0;
    background: #4666F6;
    border-radius: 6px;
    position: fixed;
    bottom: 4rem;
    left: 2.8rem;
    width: 35.8rem;
    outline: none;
    border: none;
    z-index: 20;
}

.profile__education {
    margin-bottom: 3rem;
}

.error-message {
    position: absolute;
    opacity: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: -0.24px;
    visibility: hidden;
    bottom: 14rem;
    transition: all .3s ease-out;
}

.form__privacy-text {
    transition: all .3s ease-out;
}

.employer__form.show-error .form__privacy-text {
    margin-top: 4rem;
    transition: all .3s ease-out;
}

.employer__form.show-error .error-message {
    opacity: 1;
    bottom: 18rem;
    color: #FF0000;
    visibility: initial;
    transition: all .3s ease-out;

}

.employer__formWrap {
    max-width: 57rem;
}

.footer a {
    color: white;
}


.offers__item-name, .offers__item-company {
    display: inline;
}

.show-offer-enter-active, .show-offer-leave-active {
    transition: transform .3s ease, opacity 0.3s ease;
}
.show-offer-enter, .show-offer-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    transform: scale(0.8);
    opacity: 0;
}

/*.show-offer-leave-to {*/
/*    position: absolute;*/
/*}*/
