<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Inter" rel="stylesheet">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="node_modules/normalize-css/normalize.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header__logo">
        <div class="container">
            <div class="header__inner">
                <a href="#">
                    <img src="images/logo.svg" alt="getmatch-logo">
                </a>
                <div class="header__inner-buttons header__buttons">
                    <a href="#" class="active">войти</a>
                    <div class="header__buttons-telegram transition">
                        <img src="images/telegram.svg" alt="telegram-link ">
                        <a href="#">подобрать вакансии</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<section class="start">
    <div class="container">
        <div class="start__chat">
            <div class="start__chat-message chat__message">
                <p class="chat__message-item">/start</p>
                <p class="chat__message-item">привет! подберем для вас:</p>
                <h2 class="chat__message-item f-w-800">IT-вакансии, которых нет на открытом рынке</h2>
                <p class="chat__message-item desktop-hide">получайте офферы или отслеживайте зарплаты 💰 — их видно
                    сразу
                </p>
                <p class="chat__message-item desktop right-block mobile-hide">🔥 а можно просто мониторить рынок?</p>
                <p class="chat__message-item desktop mobile-hide left-block">да! отслеживайте зарплаты 💰 — их видно сразу</p>

            </div>
            <a class="pickup-jobs transition" href="#">
                <img src="images/telegram.svg" alt="telegram-link">
                <span>подобрать вакансии </span>
            </a>

            <p class="sub_info">За 30 секунд через телеграм-бота</p>
        </div>
    </div>
</section>
<section class="offers">
    <div class="container">
        <h2 class="offers__title">высокие зарплаты, удалёнка и релокация в Европу и США</h2>
        <div class="offers__subtitle">
            <p>вакансии только от проверенных компаний <span
                    class="tooltip blue desktop-hide" data-path="check">
                как проверяем →
            </span>
            </p>
        </div>
        <div class="tooltip-item desktop-hide" data-target="check">
            <div class="bg-cart">
                <div class="tooltip-item-body">
                    <p>
                        Прежде чем дать доступ к сервису, мы смотрим на продукт, технологии, зарплаты и репутацию
                        компаний.
                    </p>
                    <p> Таким образом, в getmatch попадают лучшие международные стартапы и крупные IT-компании.
                    </p>
                </div>
            </div>
            <div class="tooltip-item-overlay"></div>
        </div>
        <div class="offers__subtitle mobile-hide">
            <div class="tooltip blue">
                как проверяем →
                <p class="tooltiptext">
                Прежде чем дать доступ к сервису, мы смотрим на продукт, технологии, зарплаты и репутацию
                компаний.
                    <span>Таким образом, в getmatch попадают лучшие международные стартапы и крупные IT-компании.
</span>
            </p>
            </div>
        </div>

        <div class="offers__container" id="offers-app">
            <div class="filters">
                <ul class="category__list button-group filters-button-group">
                    <li class="category__list-item" :class="[selected === item.value && 'is-checked']" v-for="item in specializations" :key="item.value">
                        <button class="button filter-item" :class="[selected === item.value && 'is-checked']" @click="select(item.value)">{{item.name}} <span>{{item.count}}</span></button>
                    </li>
                </ul>
                <transition-group tag="ul" name="show-offer" class="grid offers__list">
                    <div
                        v-for="item in offers"
                        :key="item.id"
                        class="element-item  offers__list-item offers__item "
                        @click="selectOffer(item)"
                    >
                        <div class="offers__item-img-wrap">
                            <img :src="item.company.logotype" class="offers__item-img" :alt="item.company.name">
                        </div>
                        <div class="offers__item-description">
                            <div class="overflow-block">
                                <div class="overflow-block-info">
                                    <h3 class="offers__item-name">{{item.position}}</h3>
                                    <p class="offers__item-company">в {{item.company.name}}</p>
                                </div>

                                <p class="offers__item-city desktop-hide">{{item.locations.join(', ')}}</p>
                                <div class="overflow-block-subinfo">
                                    <p v-for="(loc,index) in item.locations" :key="index" class="offers__item-city mobile-hide">{{loc}}</p>
                                </div>

                            </div>

                            <p class="offers__item-price">
                                <template v-if="!item.salary_to">
                                    от&nbsp;{{numberWithSpaces(item.salary_from)}} {{item.salary_currency}}
                                </template>
                                <template v-else>
                                    ≈&nbsp;{{numberWithSpaces(item.salary_from)}} – {{numberWithSpaces(item.salary_to)}} {{item.salary_currency}}
                                </template>
                            </p>
                        </div>
                    </div>
                </transition-group>
            </div>
            <a href="#" class="more__offers link-button">
                <img src="images/telegram.svg" alt="telegram-link">
                <p  class="more__offers-link link">посмотреть ещё {{moreOffers}}
                    вакансий</p>
            </a>

            <div class="liner"></div>

            <div class="modal no-js modal-offer" :class="[opened && 'open']" tabindex="-1">
                <div class="modal-overlay" @click.self="close">
                    <div class="modal-dialog" v-if="selectedOffer">
                        <div class="modal-content offers__content">
                            <div class="modal-header">
                                <div class="modal-title">
                                    <img :src="selectedOffer.company.logotype" :alt="selectedOffer.company.name" class="modal-title-logo">
                                </div>
                                <img src="images/close.svg" class="btn-close offers__content-close" alt="close-icon" @click="close">
                            </div>
                            <div class="modal-content-connecting">

                                <div class="modal-body gradient overflow-45">
                                    <p class="modal__body-item modal__body-name">{{selectedOffer.position}} <span>[{{selectedOffer.locations[0]}}] @</span>{{selectedOffer.company.name}}
                                    </p>
                                    <p class="modal__body-item modal__body-price">
                                        <template v-if="!selectedOffer.salary_to">
                                            от&nbsp;{{numberWithSpaces(selectedOffer.salary_from)}} {{selectedOffer.salary_currency}}/мес на руки
                                        </template>
                                        <template v-else>
                                            {{numberWithSpaces(selectedOffer.salary_from)}} — {{numberWithSpaces(selectedOffer.salary_to)}} {{selectedOffer.salary_currency}}/мес на руки
                                        </template>
                                    </p>
                                    <p class="modal__body-item modal__body-location" v-html="selectedOffer.locations_html">
                                    </p>
                                    <p class="modal__body-item modal__body-stack" v-html="selectedOffer.description_html">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <p class="modal-footer-text">Ещё 16 похожих вакансий — в чат-боте</p>
                                    <a class="modal-footer-link link-button " target="_blank" :href="'http://your.gms.tech/v/'+selectedOffer.id+'?s=landing_source'">
                                        <img src="images/telegram.svg" alt="telegram-link">
                                        <span class="link">Добавить телеграм-бота</span></a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container">
    <div class="modal" tabindex="-1" data-target="profile">
        <div class="modal-overlay">
            <div class="modal-dialog profile">
                <div class="modal-content ">
                    <div class="modal-close">
                        <img src="images/close.svg" class="btn-close" alt="close-icon">
                    </div>
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3 class="profile__title title">Так выглядит <br> профиль в getmatch</h3>
                            <p class="profile__subtitle">Мы создаём его сами — на основе вашего обычного резюме с hh.ru,
                                Линкедина, ХабрКарьеры или другого сервиса.</p>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="profile__resume">
                            <img src="images/profile/profile__resume.png" alt="">
                        </div>
                        <div class="profile__person person profile-container bg-cart">
                            <div class="person__header">
                                <div class="person__header-img">
                                    <img src="images/profile/person.png" alt="person">
                                    <span class="pdf-download mobile-hide">Download PDF</span>
                                </div>
                                <div class="person__header-info person__info">
                                    <p class="person__info-name profile-title">Richard Hendricks</p>
                                    <p class="person__info-age">28 years old (3.12.1993)</p>
                                </div>
                            </div>
                            <div class="person__location">
                                <img src="images/profile/location-icon.png" alt="location-icon">
                                <p class="person__location-text">Silicon Valley, CA</p>
                            </div>
                            <div class="person__format">
                                <img src="images/profile/format-icon.png" alt="format-icon">
                                <p class="person__format-text">Relocate</p>
                            </div>
                        </div>

                        <div class="profile__facts facts profile-container bg-cart">
                            <h3 class="facts__title m-b-12">
                                Summary
                            </h3>
                            <p class="facts__subtitle">I am the CEO of PiedPiper and working on providing free and
                                decentralized internet.</p>
                            <ul class="facts__list">
                                <li class="facts__list-item">Launched PiperNet, a decentralized internet for the world
                                </li>
                                <li class="facts__list-item">Created PiedPiperCoin, a cryptocurrency to support the open
                                    internet
                                </li>
                            </ul>
                            <div class="facts__skills">
                                <h3 class="facts__skills-title ">Skills</h3>
                                <ul class="facts__skills-list skills__list">
                                    <li class="skills__list-item">C</li>
                                    <li class="skills__list-item">Golang</li>
                                    <li class="skills__list-item">Java</li>
                                    <li class="skills__list-item">TypeScript</li>
                                    <li class="skills__list-item">React</li>
                                </ul>
                            </div>
                            <div class="facts__language">
                                <h3 class="facts__language-title ">Languages</h3>
                                <p class="facts__language-item">Английский : <span>C1/C2 — Advanced / Fluent</span></p>
                            </div>
                        </div>

                        <div class="profile__experience experience profile-container bg-cart">
                            <h3 class="experience__title">Experience</h3>
                            <div class="experience__card">
                                <div class="experience__card-logo">
                                    <img src="images/profile/company.png" alt="company-icon">
                                </div>
                                <div class="experience__card-block">
                                    <p class="experience__card-position"><span
                                            class="blue">Hendricks Venture Capital</span><br>Founding
                                        Partner</p>
                                    <p class="experience__card-date">Jan 2020 to Present</p>

                                    <div class="experience__card-description">
                                        <p class="experience__card-description-subtitle">
                                            We fund companies trying to change the world

                                        </p>
                                    </div>
                                </div>


                            </div>
                            <div class="experience__card">
                                <div class="experience__card-logo">
                                    <img src="images/profile/piper.png" alt="piper-company-icon">
                                </div>
                                <div class="experience__card-block">
                                    <p class="experience__card-position"><span class="blue">Pied Piper</span> - Frontend
                                        Engineer</p>
                                    <p class="experience__card-date">Apr 2014 to Dec 2019</p>
                                    <div class="experience__card-description">
                                        <p class="experience__card-description-subtitle">
                                            I am the CEO of PiedPiper and working on providing free and decentralized
                                            internet.
                                        </p>
                                        <ul class="experience__list">
                                            <li class="experience__list-item">Launched PiperNet, a decentralized
                                                internet
                                                for the world
                                            </li>
                                            <li class="experience__list-item">Created PiedPiperCoin, a cryptocurrency to
                                                support the open internet
                                            </li>
                                            <li class="experience__list-item">Discovered Middle-Out Compression which
                                                provides the highest standard for lossless compression
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="experience__card">
                                <div class="experience__card-logo">
                                    <img src="images/profile/company.png" alt="company-icon">
                                </div>
                                <div class="experience__card-block">
                                    <p class="experience__card-position"><span class="blue">Aviato</span> - Developer
                                    </p>
                                    <p class="experience__card-date">Mar 2014 to Mar 2014</p>
                                    <div class="experience__card-description">
                                        <p class="experience__card-description-subtitle">
                                            I built the aggregation algorithm to track flights
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="profile__education education profile-container bg-cart ">
                            <h3 class="education__title">Education</h3>
                            <div class="education__card">
                                <div class="education__card-logo m-b-12">
                                    <img src="images/profile/education.png" alt="additional-education-icon">
                                </div>
                                <div class="experience__card-block">
                                    <p class="education__card-title blue">Stanford</p>
                                    <p class="education__card-description">
                                        Bachelor's of Science, Computer Science
                                    </p>
                                    <p class="education__card-date">Mar 2014 to Mar 2014</p>
                                </div>
                            </div>
                        </div>
                        <button class="profile-confirm">Понятно</button>
                    </div>

                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service">
    <div class="container">
        <h2 class="service__title">
            сервис в первую очередь учитывает интересы специалистов, а не компаний, поэтому:
        </h2>
        <div class="service__info">
            <div class="service__info-item">
                <p>
                    в вакансиях нет «воды» — только зарплата, локация, стек и задачи
                </p>
            </div>
            <div class="service__info-item">
                <p>
                    <span class="blue profile-btn active" data-path="profile">профиль</span> оформляем за вас — по
                    ссылке или
                    файлу с вашим резюме
                </p>
            </div>
            <div class="service__info-item">
                <p>
                    обратная связь по откликам будет в 100% случаев — мы запросим
                </p>
            </div>
            <div class="service__info-item">
                <p>
                    всё управление — через телеграм-бота, без установки приложения
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <h2 class="about__title">как использовать getmatch?</h2>
        <p class="about__subtitle">как хочется — (1) мониторьте зарплаты и вакансии, <br> (2) откликайтесь на них или
            (3)
            получайте входящие офферы </p>

        <div class="about__info info">
            <h3 class="info__title">(1) чтобы просто мониторить рынок:</h3>
            <div class="info__block">
                <div class="info__block-item">
                    <img src="images/how-use/1.png" class="info__block-img" alt="мониторить рынок">
                    <p class="info__block-text"> выберите специализацию, зарплату и локацию в боте</p>
                </div>
                <div class="info__block-item">
                    <img src="images/how-use/2.png" class="info__block-img" alt="мониторить рынок">
                    <p class="info__block-text">получите отфильтрованные по вашим настройкам подборки вакансий</p>
                </div>
            </div>

        </div>

        <div class="about__info info">
            <h3 class="info__title">(2) чтобы откликнуться на вакансию:</h3>
            <div class="info__block">
                <div class="info__block-item resume">
                    <img src="images/profile/profile__resume.png" class="info__block-img" alt="мониторить рынок">
                    <p class="info__block-text">отправьте через бота ссылку на ваше резюме или файл — оформим
                        профиль</p>
                </div>
                <div class="info__block-item">
                    <img src="images/how-use/3.png" class="info__block-img" alt="мониторить рынок">
                </div>
            </div>
        </div>

        <div class="about__info info">
            <h3 class="info__title">(3) чтобы получить больше офферов от компаний:</h3>
            <div class="info__block">
                <div class="info__block-item">
                    <img src="images/how-use/4.png" class="info__block-img more__offers-img" alt="получить больше офферов от компаний">
                    <p class="info__block-text"> включите режим активного поиска — порекомендуем ваш профиль
                        работодателям сервиса</p>
                </div>
                <div class="info__block-item has-more-item">
                    <img src="images/how-use/5.png" class="info__block-img more__offers-img" alt="получить больше офферов от компаний">
                    <p class="info__block-text">расскажите о том, что вам важно, — компании подберут предложения по
                        вашим интересам</p>
                </div>
                <div class="info__block-item">
                    <img src="images/how-use/6.png" class="info__block-img more__offers-img" alt="получить больше офферов от компаний">
                    <p class="info__block-text">получите поток подходящих офферов, созданных специально под вас</p>
                </div>
            </div>
        </div>

        <a href="#" class="about__link link-button">
            <img src="images/telegram.svg" alt="telegram-link">
            <p  class="link">начать с настройки</p>
        </a>
    </div>
</section>

<section class="answer">
    <div class="container">
        <h2 class="answer__title">
            ответы на частые <br> вопросы
        </h2>
        <div class="answer__info question">
            <div class="question__header">
                <a href="#profile" class="question__header-title tabs-triggers-text tabs-triggers__item">
                    как создаётся профиль?</a>
                <a href="#profile" class="tabs-triggers__item tabs-arrow">
                    <img class="question__header-img" src="images/arrow.svg" alt="arrow">
                </a>
            </div>

            <div class="question__info tabs-content__item " id="profile">
                <p class="question__info-item">Чтобы сэкономить ваше время, мы оформляем его сами.
                </p>
                <p class="question__info-item"> 1. Отправьте через бота ссылку на своё резюме с Линкедина, hh.ru,
                    ХабрКарьеры или другого джоб-сервиса. Файл тоже подойдет: doc, docx или pdf.</p>
                <p class="question__info-item"> 2. Карьерные эксперты докрутят резюме (если нужно) и сделают из него
                    getmatch-профиль.</p>
                <p class="question__info-item"> 3. Если ищете в активном режиме, мы спросим о ваших пожеланиях к новой
                    работе — на их основе компании предложат вам уникальные офферы.</p>
            </div>
        </div>

        <div class="answer__info  question">
            <div class="question__header">
                <a href="#privacy" class="question__header-title tabs-triggers-text tabs-triggers__item">а что с
                    конфиденциальностью? кто
                    увидит мои данные?</a>
                <a href="#privacy" class="tabs-triggers__item tabs-arrow">
                    <img class="question__header-img" src="images/arrow.svg" alt="arrow">
                </a>
            </div>
            <div class="question__info tabs-content__item" id="privacy">
                <p class="question__info-item">Если будете просто мониторить — никто.
                </p>
                <p class="question__info-item"> Если будете откликаться — только те компании, на вакансии которых вы
                    откликнулись.</p>
                <p class="question__info-item"> 2. Карьерные эксперты докрутят резюме (если нужно) и сделают из него
                    getmatch-профиль.</p>
                <p class="question__info-item">В режиме активного поиска — все компании сервиса, кроме тех, кому вы
                    решили не показывать профиль.</p>
            </div>
        </div>

        <div class="answer__info question">
            <div class="question__header">
                <a href="#company" class="question__header-title tabs-triggers-text tabs-triggers__item">что значит
                    «проверенные <br>
                    компании»?</a>
                <a href="#company" class="tabs-triggers__item tabs-arrow">
                    <img class="question__header-img" src="images/arrow.svg" alt="arrow">
                </a>
            </div>
            <div class="question__info tabs-content__item" id="company">
                <p class="question__info-item">Это значит, что мы фильтруем компании на входе в сервис — чтобы вы могли
                    выбирать из лучших.
                </p>
                <p class="question__info-item"> Типичный работодатель getmatch — это, как правило, международный стартап
                    или крупная IT-компания, которая хорошо платит, проповедует удалёнку и организует релокацию за
                    пределы СНГ.</p>
                <p class="question__info-item"> 2. Карьерные эксперты докрутят резюме (если нужно) и сделают из него
                    getmatch-профиль.</p>
                <p class="question__info-item">Репутация на рынке даже не обсуждается — мы обязательно смотрим на отзывы
                    бывших сотрудников.</p>
            </div>
        </div>

        <div class="answer__info question">
            <div class="question__header">
                <a href="#offers" class="question__header-title tabs-triggers-text tabs-triggers__item">найдутся
                    вакансии для джунов?</a>
                <a href="#offers" class="tabs-triggers__item tabs-arrow">
                    <img class="question__header-img" src="images/arrow.svg" alt="arrow">
                </a>
            </div>
            <div class="question__info tabs-content__item" id="offers">
                <p class="question__info-item">Наш фокус — вакансии для специалистов с опытом работы, поэтому если его
                    нет или мало, пока нам нечего вам предложить.
                </p>
                <p class="question__info-item">Зато подписка на вакансии поможет узнать, какие скиллы нужно прокачать в
                    будущем.</p>
            </div>
        </div>

        <div class="answer__info question">
            <div class="question__header">
                <a href="#active-offers" class="question__header-title tabs-triggers-text tabs-triggers__item">
                    сколько офферов можно получить в режиме активного поиска?</a>
                <a href="#active-offers" class="tabs-triggers__item tabs-arrow">
                    <img class="question__header-img" src="images/arrow.svg" alt="arrow">
                </a>
            </div>
            <div class="question__info tabs-content__item" id="active-offers">
                <p class="question__info-item">Зависит от вашего опыта и зарплатных ожиданий. В среднем по больнице —
                    3-5 в неделю.
                </p>
            </div>
        </div>

        <div class="answer__info question">
            <div class="question__header">
                <a href="#price" class="question__header-title tabs-triggers-text tabs-triggers__item">сколько всё это
                    стоит?</a>
                <a href="#price" class="tabs-triggers__item tabs-arrow">
                    <img class="question__header-img" src="images/arrow.svg" alt="arrow">
                </a>
            </div>
            <div class="question__info tabs-content__item" id="price">
                <p class="question__info-item">Нисколько — за сервис платят работодатели.
                </p>
            </div>
        </div>


    </div>
</section>

<section class="employer">
    <div class="container employer-container">
        <div class="employer__formWrap">
            <h2 class="employer__title">вы работодатель?</h2>
            <p class="employer__subtitle">оставьте заявку на звонок — расскажем, как открыть доступ к сервису</p>
            <form class="employer__form form">
                <input type="text" class="form__input form__name" placeholder="как вас зовут?">
                <input type="tel" class="form__input form__number" placeholder="ваш телефон">
                <input type="text" class="form__input form__email" placeholder="рабочая почта">
                <span class="error-message">похоже на личный имэйл — напишите, пожалуйста, корпоративный</span>
                <div class="form__privacy">
                    <label class="custom-checkbox">
                        <input type="checkbox" checked class="form__input form__checkbox" value="value">
                        <span class="form__privacy-text">Принимаю &nbsp;<a
                                href="#"> условия пользования сервисом</a> </span>
                    </label>
                </div>

                <button type="submit" class="form__btn disabled">оставить заявку</button>
            </form>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__logo">
            <a href="#">
                <img src="images/logo-white.png" alt="getmatch-logo">
            </a>
        </div>
        <div class="footer__info">
            <div class="footer__info-links">
                <p class="footer__info-item footer__info-email"><a href="#" class="active-footer">hello@getmatch.ru</a>
                </p>
                <p class="footer__info-item"><a href="#" class="active-footer">Работодателям</a>
                </p>
                <p class="footer__info-item"><a href="#" class="active-footer">Статьи о карьере</a>
                </p>
                <p class="footer__info-item"><a href="#" class="active-footer">Вебинары</a>
                </p>
            </div>
            <div class="footer__info-links social-and-privacy">
                <p class="privacy-policy desktop-hide"><a href="#">Пользовательское соглашение и Политика
                    конфиденциальности</a></p>
                <div class="footer__info-social info__social">
                    <a href="#">
                        <div class="info__social-item item-habr"></div>
                    </a>
                    <a href="#">
                        <div class="info__social-item item-linkedIn"></div>
                    </a>
                    <a href="#">
                        <div class="info__social-item item-facebook"></div>
                    </a>
                    <a href="#">
                        <div class="info__social-item item-twitter"></div>
                    </a>
                    <a href="#">
                        <div class="info__social-item item-youtube"></div>
                    </a>
                    <a href="#">
                        <div class="info__social-item item-telegram"></div>
                    </a>
                </div>
                <p class="copy desktop-hide">© getmatch, 2021</p>
                <p class="privacy-policy mobile-hide ">
                    <a href="#" class="active-footer">Пользовательское соглашение</a>
                    <span>и</span>
                    <a href="#" class="active-footer">Политика
                        конфиденциальности</a>
                    <span>© getmatch, 2021</span>
                </p>

            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="node_modules/flow-adaptive/dist/flow-adaptive.min.js"></script>
<!--<script src="node_modules/isotope-layout/dist/isotope.pkgd.min.js"></script>-->
<script src="node_modules/inputmask/dist/inputmask.js"></script>
<script src="js/flow-adaptive.js"></script>
<!--<script src="js/isotope-layout.js"></script>-->
<script type="module" src="js/validation.js"></script>
<script type="module" src="js/utils.js"></script>
<script src="plugins/tabs.js"></script>
<script src="plugins/modal.js"></script>
<script src="js/offers.js"></script>
<script src="js/main.js"></script>

</body>
</html>
